<h1>Enter NODEID below to see audit information for that node (using access)</h1>
    <input [(ngModel)]='nodeID' [value]="nodeID" matInput placeholder="Enter NodeID" (keydown.enter)="enterPressed()">
<!-- enter table below -->
<table *ngIf="showTable" mat-table [dataSource]="auditEntryForNodeData" class="mat-elevation-z8">

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> user </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> details </th>
    <td mat-cell *matCellDef="let element"> {{element.details}} </td>
  </ng-container>

  <ng-container matColumnDef="entryDate">
    <th mat-header-cell *matHeaderCellDef> Entry Date </th>
    <td mat-cell *matCellDef="let element"> {{element.entryDate | date:'medium' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
