<h1>Enter Patient Name</h1>
<h3>This will provide content in a simulated Cority database</h3>
<h3>and the Alfresco link and node ID</h3>
<h3>related to the patient</h3>
<div style="width:max-content">
<form class="example-form" (keyup.enter)="enterPressed()">
  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Enter Patient info or CASE">
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</form>
<div *ngIf="showTable" style="width:800px;">
  <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Ss Column -->
    <ng-container matColumnDef="SSnumber">
      <th mat-header-cell *matHeaderCellDef> SSNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.SSnumber}} </td>
    </ng-container>

    <!-- case Column -->
    <ng-container matColumnDef="caseID">
      <th mat-header-cell *matHeaderCellDef> caseID </th>
      <td mat-cell *matCellDef="let element"> {{element.caseID}} </td>
    </ng-container>

    <!-- alfresco Column -->
    <ng-container matColumnDef="Alfresco">
      <th mat-header-cell *matHeaderCellDef> Alfresco Link </th>
      <td mat-cell *matCellDef="let element"> <a (click)="goToLink('http://rwilds741.alfdemo.com/digital-workspace/#/search;q=/(viewer:view/c4eaf74b-02d4-45fa-9218-0731e85cdde1)')">{{element.name}} images</a> </td>
    </ng-container>

    <!-- alfresco node Column -->
    <ng-container matColumnDef="Alfresconode">
      <th mat-header-cell *matHeaderCellDef> Alfresco node ID</th>
      <td mat-cell *matCellDef="let element" style="width:300px">{{element.Alfresconode}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


</div>
